
@{
    ViewBag.Title = Token.Ads;
    ViewBag.Description = Token.ThisPageFor + " " + Token.Display
        + " " + Token.AndChar + " "
        + Token.Update + " "
        + " " + Token.AndChar + " "
        + Token.Delete + " "
        + Token.For + " " + Token.Ads;

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Body-->
<div ng-app="ngApp" ng-controller="ctrlAds">
    <div class="">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fas fa-bell-o"></i>@Token.Table : @Token.Ads <span ng-show="adsFilter.ucerCreatedId">| @Token.ForUser: {{currentUserInfo.UserName}}</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="@Token.Collapse" title="@Token.Collapse"> </a>
                    <a class="reload" data-original-title="@Token.ReloadData" title="@Token.ReloadData" ng-click="callFunctions(Country.FkCountry_Id)"> </a>
                    <a href="javascript:;" class="remove" data-original-title="@Token.Delete" title="@Token.Delete"> </a>
                </div>
            </div>

            <div class="portlet-body" style="display: block;">
                <div class="table-scrollable">

                    <!--Form Add New And Show And Update-->
                    <form name="frmCAdsFilter" novalidate>
                        <br />
                        <div class="form-group col-lg-3 col-md-3">
                            <label>@Token.Category</label>
                            <select class="form-control cursorPointer"
                                    ng-model="adsFilter.categoryId"
                                    ng-options="x.Id as x.CategoryName for x in categories"></select>
                        </div>

                        <div class="form-group col-lg-3 col-md-3">
                            <label>@Token.SubCategory</label>
                            <select class="form-control cursorPointer"
                                    ng-model="adsFilter.subCategoryId"
                                    ng-options="x.Id as x.SubCategoryName for x in subCategories|filter:{'FKCategory_Id':adsFilter.categoryId}"></select>
                        </div>

                        <div class="form-group col-lg-3 col-md-3">
                            <label>@Token.Country</label>
                            <select class="form-control cursorPointer"
                                    ng-model="adsFilter.countryId"
                                    ng-options="x.Id as x.CountryName for x in countries"></select>
                        </div>
                        <div class="form-group col-lg-3 col-md-3">
                            <label>@Token.Province</label>
                            <select class="form-control cursorPointer"
                                    ng-model="adsFilter.provinceId"
                                    ng-options="x.Id as x.ProvinceName for x in provinces|filter:{'FKCountry_Id':adsFilter.countryId}"></select>
                        </div>
                        <div class="form-group col-lg-3 col-md-3">
                            <label>@Token.Title</label>
                            <input type="text" class="form-control cursorPointer"
                                   ng-model="adsFilter.title" />
                        </div>


                        <div class="form-group col-lg-3 col-md-3">
                            <br />
                            <a href="javascript:;" data-repeater-create="" class="btn btn-success mt-repeater-add" ng-click="getAds(true)">
                                <i class="fas fa-search"></i> @Token.Show
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <!--Div Form Table-->
            <div class="portlet-body" style="display: block;">
                <div class="table-scrollable">
                    <!--Form Add New And Show And Update-->
                    <div class="">
                        <table class="table table-striped table-bordered table-advance table-hover" ng-fop-data="ads" ng-fop-data-repeat="adsRepeat">
                            <thead>
                                <tr>
                                    <th class="th-20">
                                        <ng-fop ng-fop-filter="true"
                                                ng-fop-order-by="true"
                                                ng-fop-class-icon="fas fa-pencil-alt"
                                                ng-fop-label="@Token.Title"
                                                ng-fop-placeholder="@Token.Search..."
                                                ng-fop-model="Title"
                                                ng-fop-type-filter="text"></ng-fop>
                                    </th>
                                    <th class="th-40">
                                        <ng-fop ng-fop-filter="true"
                                                ng-fop-order-by="true"
                                                ng-fop-class-icon="fas fa-pencil-alt"
                                                ng-fop-label="@Token.Description"
                                                ng-fop-placeholder="@Token.Search..."
                                                ng-fop-model="Description"
                                                ng-fop-type-filter="text"></ng-fop>
                                    </th>
                                    <th class="th-10">
                                        <ng-fop ng-fop-filter="true"
                                                ng-fop-order-by="true"
                                                ng-fop-class-icon="fas fa-pencil-alt"
                                                ng-fop-label="@Token.Price"
                                                ng-fop-placeholder="@Token.Search..."
                                                ng-fop-model="Price"
                                                ng-fop-type-filter="number"></ng-fop>
                                    </th>
                                    <th class="th-10">
                                        <ng-fop ng-fop-filter="true"
                                                ng-fop-order-by="true"
                                                ng-fop-class-icon="fas fa-pencil-alt"
                                                ng-fop-label="@Token.CommentsCount"
                                                ng-fop-placeholder="@Token.Search..."
                                                ng-fop-model="CommentsCount"
                                                ng-fop-type-filter="number"></ng-fop>
                                    </th>
                                    <th class="th-10">
                                        <ng-fop ng-fop-filter="true"
                                                ng-fop-order-by="true"
                                                ng-fop-class-icon="fas fa-pencil-alt"
                                                ng-fop-label="@Token.FavoritesCount"
                                                ng-fop-placeholder="@Token.Search..."
                                                ng-fop-model="FavoritesCount"
                                                ng-fop-type-filter="number"></ng-fop>
                                    </th>
                                    <th class="th-10">
                                        <ng-fop ng-fop-filter="true"
                                                ng-fop-order-by="true"
                                                ng-fop-class-icon="fas fa-pencil-alt"
                                                ng-fop-label="@Token.CreateDateTime"
                                                ng-fop-placeholder="@Token.Search..."
                                                ng-fop-model="CreatedDate"
                                                ng-fop-type-filter="text"></ng-fop>
                                    </th>
                                    <th class="th-10">
                                        <ng-fop ng-fop-filter="true"
                                                ng-fop-order-by="true"
                                                ng-fop-class-icon="fas fa-pencil-alt"
                                                ng-fop-label="@Token.UserName"
                                                ng-fop-placeholder="@Token.Search..."
                                                ng-fop-model="UserName"
                                                ng-fop-type-filter="text"></ng-fop>
                                    </th>

                                    <th class="th-10"></th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="x in adsRepeat track by $index">
                                <tr>
                                    <td>{{x.Title}}</td>
                                    <td>
                                        <textarea class="form-control min-width-100-important input-disabled" ng-model="x.Description" disabled></textarea>
                                    </td>
                                    <td>{{x.Price}}</td>
                                    <td>{{x.CommentsCount}}</td>
                                    <td>{{x.FavoritesCount}}</td>
                                    <td>{{x.CreatedDate}}</td>
                                    <td>{{x.UserName}}</td>
                                    <td>
                                        <i class="fas fa-arrow-circle-down icont-controller cursor-pointer" title="@Token.AdDetails" ng-show="!x.Show" ng-click="getAdDetails(x)"></i>
                                        <i class="fas fa-arrow-circle-up icont-controller cursor-pointer" title="@Token.Close" ng-show="x.Show" ng-click="x.Show=false"></i>
                                        <i class="fas fa-trash icont-controller cursor-pointer" title="@Token.Close"   ng-click="deleteAd(x)" ></i>

                                    </td>
                                </tr>
                                <tr ng-show="x.Show">
                                    <td colspan="3">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="th-30"></th>
                                                    <th class="th-80"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>@Token.Category</td>
                                                    <td>{{x.AdDetails.CategoryName}}</td>
                                                </tr>
                                                <tr>
                                                    <td>@Token.SubCategory</td>
                                                    <td>{{x.AdDetails.SubCategoryName}}</td>
                                                </tr>
                                                <tr>
                                                    <td>@Token.Country</td>
                                                    <td>{{x.AdDetails.Country}}</td>
                                                </tr>
                                                <tr>
                                                    <td>@Token.Province</td>
                                                    <td>{{x.AdDetails.Province}}</td>
                                                </tr>
                                                <tr>
                                                    <td>@Token.Phone</td>
                                                    <td>{{x.AdDetails.PhoneNumbre}}</td>
                                                </tr>
                                                <tr>
                                                    <td>@Token.RentalTimeType</td>
                                                    <td>{{x.AdDetails.RentalTimeTypeName}}</td>
                                                </tr>
                                                <tr>
                                                    <td>@Token.Area_Width</td>
                                                    <td>{{x.AdDetails.AdDirectFieldDetails.Area.Width}}</td>
                                                </tr>
                                                <tr>
                                                    <td>@Token.Area_Length</td>
                                                    <td>{{x.AdDetails.AdDirectFieldDetails.Area.Length}}</td>
                                                </tr>
                                                <tr>
                                                    <td>@Token.Area_Height</td>
                                                    <td>{{x.AdDetails.AdDirectFieldDetails.Area.Height}}</td>
                                                </tr>
                                                <tr>
                                                    <td>@Token.Location_Latitude</td>
                                                    <td>{{x.AdDetails.AdDirectFieldDetails.Location.Latitude}}</td>
                                                </tr>
                                                <tr>
                                                    <td>@Token.Location_Longitude</td>
                                                    <td>{{x.AdDetails.AdDirectFieldDetails.Location.Longitude}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td colspan="3">
                                        <table class="table table-bordered">
                                            <tbody>
                                               
                                                <tr>
                                                    <td>@Token.Mark</td>
                                                    <td>{{x.AdDetails.AdDirectFieldDetails.Mark}}</td>
                                                </tr>
                                                <tr>
                                                    <td>@Token.Material</td>
                                                    <td>{{x.AdDetails.AdDirectFieldDetails.Material}}</td>
                                                </tr>
                                                <tr>
                                                    <td>@Token.Nationality</td>
                                                    <td>{{x.AdDetails.AdDirectFieldDetails.Nationality}}</td>
                                                </tr>
                                                <tr>
                                                    <td>@Token.Size</td>
                                                    <td>{{x.AdDetails.AdDirectFieldDetails.Size}}</td>
                                                </tr>
                                                <tr ng-repeat="z in x.AdDetails.AdIndividualFieldsDetails">
                                                    <td>{{z.IndividualFieldName}}</td>
                                                    <td>{{z.Value}}</td>
                                                </tr>
                                                <tr ng-repeat="z in x.AdDetails.AdGroupsDetails">
                                                    <td>{{z.GroupName}}</td>
                                                    <td>{{z.Values.join(' , ')}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7">
                                        <!--Paging-->
                                        <ng-paging-display-more ng-paging-count-item="10"></ng-paging-display-more>
                                    </td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Angular/Views/ad/Service.js"></script>
    <script src="~/Scripts/Angular/Views/ad/Controller.js"></script>
}

