
@{
    ViewBag.Title = Token.Marks;
    ViewBag.Description = Token.ThisPageFor + Token.Display + " " + Token.AndChar + " " + Token.Added + " " + Token.AndChar + " " + Token.Update + " " + Token.AndChar + " " + Token.Delete + " " + Token.For + " " + Token.Marks;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var priv = PageService.GetPageRole(PageEnumVM.Marks);

}

<!--body-->
@if (priv.IsDisplay)
{
    <div ng-app="ngApp" ng-controller="ctrlMarks" ng-init="errorDuplicate='@Token.CanNotDuplicate';NotNotFoundDataForSaved='@Token.NotNotFoundDataForSaved';warning='@Token.Warning'">
        <div class="">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-bell-o"></i>@Token.Marks @Token.Table
                    </div>
                    <div class="tools">

                        <a href="javascript:;" class="collapse" data-original-title="@Token.Collapse" title="@Token.Collapse"> </a>
                        <a class="reload" id="getData" data-original-title="@Token.ReloadData" title="@Token.ReloadData" ng-click="CallFunctions(this)"> </a>
                        <a href="javascript:;" class="remove" data-original-title="@Token.Remove" title="@Token.Remove"> </a>
                    </div>
                </div>
                <!--Div Form Table-->
                <div class="portlet-body" style="display: block;">
                    <div class="table-scrollable">
                         
                        <!--Form Add New And Show And Update-->
                        <form name="frmMark" novalidate ng-fop-data="Marks" ng-fop-data-repeat="MarksRepeat">
                             
                            <table class="table table-striped table-bordered table-advance table-hover" >
                                <thead>
                                    <tr>
                                        <th class="th-45">
                                            <ng-fop ng-fop-filter="true"
                                                    ng-fop-order-by="true"
                                                    ng-fop-requierd="true"
                                                    ng-fop-class-icon="fa fa-pencil"
                                                    ng-fop-label="@Token.NameAr"
                                                    ng-fop-placeholder="@Token.Search..."
                                                    ng-fop-model="NameAr"
                                                    ng-fop-type-filter="text"
                                                    @*OrderBY*@
                                                    ng-fop-order-by-defult="true"
                                                    ng-fop-order-by-defult-case="true"></ng-fop>
                                        </th>
                                        <th class="th-45">
                                            <ng-fop ng-fop-filter="true"
                                                    ng-fop-order-by="true"
                                                    ng-fop-requierd="true"
                                                    ng-fop-class-icon="fa fa-pencil"
                                                    ng-fop-label="@Token.NameEn"
                                                    ng-fop-placeholder="@Token.Search..."
                                                    ng-fop-model="NameEn"
                                                    ng-fop-type-filter="text"></ng-fop>
                                        </th>
                                        <th class="th-10"> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (priv.IsCreate)
                                    {
                                        <tr>
                                            <td class="highlight">
                                                <!--NameAr-->
                                                <div class="form-group ">
                                                    <input type="text" class="form-control" name="nameAr" ng-model="Mark.NameAr" ng-maxlength="50" ng-required="true" />
                                                    <label class="lableErorr" ng-show="NameArDuplicate">{{errorDuplicate}}</label>

                                                    <label class="lableErorr" ng-show="frmMark.nameAr.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                                    <label class="lableErorr" ng-show="frmMark.nameAr.$error.maxlength&&IsSubmit">@Token.MaxLength 50</label>
                                                </div>
                                            </td>
                                            <td class="hidden-xs">
                                                <!--NameEn-->
                                                <div class="form-group ">
                                                    <input type="text" class="form-control" name="nameEn" ng-model="Mark.NameEn " ng-maxlength="50" ng-required="true" />
                                                    <label class="lableErorr" ng-show="NameEnDuplicate">{{errorDuplicate}}</label>
                                                    <label class="lableErorr" ng-show="frmMark.nameEn.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                                    <label class="lableErorr" ng-show="frmMark.nameEn.$error.maxlength&&IsSubmit">@Token.MaxLength 50</label>
                                                </div>
                                            </td>
                                            <td>
                                                <i class="fas fa-plus cursor-pointer icont-controller" title="@Token.Save" data-placement="top" data-toggle="tooltip" ng-click="frmMark.$valid?create(Mark):IsSubmit=true"></i>
                                                <i class="fas fa-undo cursor-pointer icont-controller" title="@Token.Undo" data-placement="top" data-toggle="tooltip" ng-click="Mark={}"></i>
                                            </td>
                                        </tr>
                                    }

                                    <tr ng-repeat="x in MarksRepeat track by $index" ng-show="x.State!=State.Delete">
                                        <td class="highlight">
                                            <input type="text" class="form-control input-redonly" ng-model="x.NameAr" ng-readonly="ShowUpdate!=$index" />
                                            <label class="lableErorr" ng-show="x.NameArDuplicate">{{errorDuplicate}}</label>
                                            <label class="lableErorr " ng-show="x.NameAr==''&&IsUpdate">@Token.FiledIsRequired</label>
                                            <label class="lableErorr" ng-show="x.NameAr.length>50&&IsUpdate">@Token.MaxLength 50</label>
                                        </td>
                                        <td class="hidden-xs">
                                            <input type="text" class="form-control input-redonly" ng-model="x.NameEn" ng-readonly="ShowUpdate!=$index" />
                                            <label class="lableErorr" ng-show="x.NameEnDuplicate">{{errorDuplicate}}</label>
                                            <label class="lableErorr" ng-show="x.NameEn==''&&IsUpdate">@Token.FiledIsRequired</label>
                                            <label class="lableErorr" ng-show="x.NameEn.length>50&&IsUpdate">@Token.MaxLength 50</label>
                                        </td>
                                        <td>
                                            @if (priv.IsUpdate)
                                            {
                                                <i class="fas fa-edit cursor-pointer icont-controller" title="@Token.Update" data-placement="top" data-toggle="tooltip" ng-show="ShowUpdate!=$index" ng-click="changeForUpdate($index)"></i>
                                                <i class="fas fa-save cursor-pointer icont-controller" title="@Token.Save" data-placement="top" data-toggle="tooltip" ng-show="ShowUpdate==$index" ng-click="(x.NameAr!=''&&x.NameAr.length<=50&&x.NameEn!=''&&x.NameEn.length<=50)?update(x):IsUpdate=true"></i>
                                                <i class="fas fa-undo cursor-pointer icont-controller" title="@Token.Undo" data-placement="top" data-toggle="tooltip" ng-show="ShowUpdate==$index" ng-click="restartUpdate(true)"></i>
                                            }
                                            @if (priv.IsDelete)
                                            {
                                                <i class="fas fa-trash  cursor-pointer icont-controller" title="@Token.Delete" data-placement="top" data-toggle="tooltip" ng-show="ShowUpdate!=$index" ng-click="deleteConfirm(x.Id)"></i>

                                            }
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">
                                            <!--Paging-->
                                            <ng-paging></ng-paging>
                                        </td>
                                        <td>
                                            <a class="btn btn-default green-stripe " ng-class="{'green':frmUserProfile.$valid}" ng-click="saveChange(Marks)">
                                                @Token.SaveChange
                                                <i class="fa fa-save"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </form>
                        <!--Delete Undo-->
                        <div class="col-lg-3 col-md-3">
                            <div class="caption">
                                <i class="fa fa-bell-o"></i>@Token.Undo       @Token.Delete
                            </div>
                            <table class="table table-striped table-bordered table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th class="th-90">
                                            <div class="icon-addon addon-sm">
                                                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="@Token.Search..." ng-model="MarkName">
                                                <label ng-show="MarkName.length==0||MarkName==null||MarkName==undefined" for="txt2" class="glyphicon glyphicon-search" rel="tooltip"></label>
                                                <label ng-show="MarkName.length>0&amp;&amp;MarkName!=null" class="glyphicon glyphicon-remove-circle ng-hide" ng-click="MarkName=undefined"></label>
                                            </div>
                                        </th>
                                        <th class="th-10">

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in Marks|filter:{'MarkName':MarkName}" ng-show="x.State=='Delete'">
                                        <td>{{x.MarkName}}</td>
                                        <td><i class="fa fa-undo cursor-pointer icont-controller" title="@Token.Undo" data-placement="top" data-toggle="tooltip" ng-click="x.State=null"></i></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
          
        </div>

        <!--Delete Undo-->
        <div class="col-lg-3 col-md-3" ng-show="false">
            <div class="caption">
                <i class="fa fa-bell-o"></i>@Token.Undo       @Token.Delete
            </div>
            <table class="table table-striped table-bordered table-advance table-hover">
                <thead>
                    <tr>
                        <th class="th-90">
                            <div class="icon-addon addon-sm">
                                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="@Token.Search..." ng-model="MarkName">
                                <label ng-show="MarkName.length==0||MarkName==null||MarkName==undefined" for="txt2" class="glyphicon glyphicon-search" rel="tooltip"></label>
                                <label ng-show="MarkName.length>0&amp;&amp;MarkName!=null" class="glyphicon glyphicon-remove-circle ng-hide" ng-click="MarkName=undefined"></label>
                            </div>
                        </th>
                        <th class="th-10">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in Marks|filter:{'MarkName':MarkName}" ng-show="x.State!=State.Delete">
                        <td>{{x.MarkName}}</td>
                        <td><i class="fa fa-undo cursor-pointer icont-controller" title="@Token.Undo" data-placement="top" data-toggle="tooltip" ng-click="x.State=null"></i></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <pre ng-show="false"> {{Mark|json}}</pre>
        <pre ng-show="false">{{Marks|json:4}}</pre>



        <!-- Delete Confirm -->
        <div class="modal fade " id="DeleteConfirm" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@Token.DeleteConfirm</h4>
                    </div>
                    <div class="modal-body">
                        <p>@Token.AreYouSureDelete ?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" ng-click="delete( )">
                            @Token.YesDelete
                            <i class="fa fa-trash"></i>
                        </button>
                        <button class="btn btn-default" ng-click="cancelDelete( )">
                            @Token.Cancel
                            <i class="fa fa-undo"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

}
else
{
    <h1 class="lableErorr text-center">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        @Token.CanNotDisplay
    </h1>
}

@section scripts{

    <script src="~/Scripts/Angular/Views/Marks/Service.js"></script>
    <script src="~/Scripts/Angular/Views/Marks/ControllerJs.js"></script>

   
     
}

