
@{
    ViewBag.Title = Token.RentalIndividualFields;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var priv = PageService.GetPageRole(PageEnumVM.RentalIndividualFields);
    ViewBag.Description = Token.ThisPageFor + Token.Display + " " + Token.AndChar + " " + Token.Added + " " + Token.AndChar + " " + Token.Edit + " " + Token.AndChar + " " + Token.Delete + " " + Token.For + " " + Token.RentalIndividualFields;

}
<!--body-->

@if (priv.IsDisplay)
{
    <div ng-app="ngApp" ng-controller="ctrlRentalIndividualFields" >
        <div class="">
            <pre>
                فى هذة الصفحة يمكن اختيار الحقول بناءعلى نوع التاجير بشكل عام 
               *** او اختيار الحقول على فئة التاجير 
                *** وعند الظهور للمستخدم سوف تظهر الحقول بناء على فئة التاجير واذا لم يكن لها سوف نبحث فى الحقول العامة
            </pre>
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-bell-o"></i>@Token.RentalIndividualFields @Token.Table
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="@Token.Collapse" title="@Token.Collapse"> </a>
                        <a class="reload" data-original-title="@Token.ReloadData" title="@Token.ReloadData" ng-click="CallFunctions(RentalIndividualField.FKCategory_Id)"> </a>
                        <a href="javascript:;" class="remove" data-original-title="@Token.Remove" title="@Token.Remove"> </a>
                    </div>
                </div>
                <!--Div Form Table-->
                <div class="portlet-body" style="display: block;">
                    <div class="table-scrollable">
                        <br />

                        <!--Form Add New And Show And Edit-->
                        <form name="frmRentalIndividualField" novalidate>
                            <!--Setting-->
                            <div class="col-lg-12 col-md-12">
                                <!--Categories-->
                                <div class="form-group col-lg-3 col-md-3">
                                    <label class="control-label"> @Token.Category <label class="lableErorr">*</label> </label>
                                    <select class="form-control cursor-pointer" name="rentalType" ng-model="RentalIndividualField.FKCategory_Id" ng-options="x.Id as x.CategoryName for x in Categories| orderBy :'+CategoryName'" ng-required="true"></select>
                                    <label class="lableErorr" ng-show="frmRentalIndividualField.rentalType.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                </div>

                                <!--Sub Category-->
                                <div class="form-group col-lg-3 col-md-3">
                                    <label class="control-label"> @Token.SubCategory </label>
                                    <div class="icon-addon addon-sm">
                                        <select class="form-control cursor-pointer" name="rentalCategory" ng-model="RentalIndividualField.FKSubCategory_Id" ng-options="x.Id as x.SubCategoryName for x in SubCategories|filter:{'FKCategory_Id':RentalIndividualField.FKCategory_Id}| orderBy :'+SubCategoryName'" ></select>
                                        <label ng-hide="RentalIndividualField.FKSubCategory_Id != null" for="txt2" class="glyphicon glyphicon-search" rel="tooltip"></label>
                                        <label ng-show="RentalIndividualField.FKSubCategory_Id != null" class="glyphicon glyphicon-remove-circle " ng-click="RentalIndividualField.FKSubCategory_Id=null"></label>
                                    </div>
                                </div>

                                <!--Display-->
                                <div class="form-group col-lg-3 col-md-3">
                                    <br />
                                    <a class="btn btn-default   red-stripe" ng-click="GetInputs()">
                                        @Token.Display
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>

                                <!--Save Change-->
                                <div class="form-group col-lg-3 col-md-3">
                                    <br />
                                    <a class="btn btn-default green-stripe  " ng-click="SaveChenage()">
                                        @Token.SaveChange
                                        <i class="fa fa-save"></i>
                                    </a>
                                </div>

                            </div>


                            <!--Inputss & rental Category-->
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-6 col-md-6">
                                    <!--Titel-->
                                    <div>
                                        <label>@Token.Inputs :- </label>
                                    </div>
                                    <!--List-->
                                    <div>
                                        @*<ul class="list-group">
                                            <li class="list-group-item active"><input type="text" class="form-control" ng-model="SearchInputs" placeholder="@Token.Search @Token.In {{AllInputCount}} @Token.Items..." /></li>
                                            <li class="list-group-item cursorPointer" ng-repeat="x in AllInput|filter :{'InputsName':SearchInputs}|filterIsEquals:'State':State.Delete:0| orderBy :'+InputName'" ng-click="InputChangeState(x)">{{x.InputName}} <i class="fas fa-trash faRed" ng-show="x.State==State.Delete"></i></li>
                                        </ul>*@
                                        <ul class="list-group">
                                            <li class="list-group-item active"><input type="text" class="form-control" ng-model="SearchInputs" placeholder="@Token.Search..." /></li>
                                            <li class="list-group-item cursorPointer" ng-repeat="x in AllInput|filter :{'InputName':SearchInputs}|filterIsEquals:'State':State.Delete:0| orderBy :'+InputName'" ng-click="InputChangeState(x)">{{x.InputName}} <i class="fas fa-trash faRed" ng-show="x.State==State.Delete"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <!--Titel-->
                                    <div>
                                        <label>@Token.FieldsSelected :- </label>
                                    </div>

                                    <!--List-->
                                    <div>
                                        <ul class="list-group">
                                            <li class="list-group-item active"><input type="text" class="form-control" ng-model="SearchRentalIndividualField" placeholder="@Token.Search..." /></li>
                                            <li class="list-group-item  " ng-repeat="x in AllInput|filter :{'InputName':SearchRentalIndividualField} |filterIsEquals:'State':State.Old:State.Create:State.Update| orderBy :'+InputName'">
                                               
                                                <!--Is Required-->
                                                 <label class="mt-checkbox mt-checkbox-outline" title="@Token.IsRequired">
                                                    <input type="checkbox" class="form-control  " ng-model="x.IsRequired" ng-change="ChangeStateIsRequired(x)">
                                                    <span></span>
                                                </label>

                                                <!--Is Bar-->
                                                <label class="mt-checkbox mt-checkbox-outline" title="@Token.IsBar">
                                                    <input type="checkbox" class="form-control" ng-model="x.IsBar" ng-change="changeStateIsBar(x)" ng-disabled="!x.IsRequired">
                                                    <span></span>
                                                </label>
                                                
                                                <!--Is Type Allow Custom
                                                <label class="mt-checkbox mt-checkbox-outline" title="@Token.IsAllowCustom"  >
                                                    <input type="checkbox" class="form-control  " ng-model="x.IsAllowCustom" ng-change="ChangeStateIsRequired(x)" ng-disabled="!x.IsTypeAllowCustom">
                                                    <span></span>
                                                </label>
                                                   -->
                                                <label class="cursorPointer" ng-click="InputChangeState(x)">
                                                    {{x.InputName}}
                                                    <i class="fas fa-plus-circle faGreen" ng-show="x.State==State.Create"></i>
                                                    <i class="fas fa-edit faOrange" ng-show="x.State==State.Update"></i>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->




        </div>
        <pre ng-show="false">{{RentalIndividualField|json}}</pre>
        <pre ng-show="false">{{AllRentalIndividualField|json:4}}</pre>


    </div>
}
else
{
    <h1 class="lableErorr text-center">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        @Token.CanNotDisplay
    </h1>
}
@section scripts{
    <script src="~/Scripts/Angular/Views/RentalIndividualFields/Service.js"></script>
    <script src="~/Scripts/Angular/Views/RentalIndividualFields/ControllerJs.js"></script>
}

