
@{
    ViewBag.Title = Token.CreateAndUpdate;
    ViewBag.Description = Token.ThisPageFor + " " + Token.Create + " " + Token.User;

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Body-->
<div class="row" ng-app="ngApp" ng-controller="ctrlUserCreateAndUpdate">
    <div class="col-md-12">
        <!--Form-->
        <div class="profile-content">
            <form novalidate name="frmUserProfile" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light ">
                            <div class="portlet-title tabbable-line">
                                <div class="caption caption-md">
                                    <i class="icon-globe theme-font hide"></i>
                                    <span class="caption-subject font-blue-madison bold uppercase">@Token.ProfileAccount</span>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="active" ng-class="{'activeError':(
                            frmUserProfile.fullName.$invalid||
                            frmUserProfile.birthDate.$invalid||
                            frmUserProfile.email.$invalid||
                            frmUserProfile.gender.$invalid||
                            frmUserProfile.country.$invalid||
                            frmUserProfile.phone.$invalid

                            )&&IsSubmit}">
                                        <a href="#PersonalInfo" data-toggle="tab">@Token.PersonalInfo</a>
                                    </li>
                                
                                    <li ng-class="{'activeError':(
                                        
                            frmUserProfile.role.$invalid    ||
                            frmUserProfile.language.$invalid    ||
                            frmUserProfile.userName.$invalid    ||
                            frmUserProfile.newPassword.$invalid    ||
                            frmUserProfile.confirmPassword.$invalid
                            )&&IsSubmit}">
                                        <a href="#Setting" data-toggle="tab">@Token.Setting</a>
                                    </li>
                                    <li>
                                        <a href="#ChangeAvatar" data-toggle="tab">@Token.ImageProfile</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <!--Personal Info-->
                                    <div class="tab-pane active row" id="PersonalInfo">
                                        <div class="row">
                                            <!--FullName-->
                                            <div class="form-group col-lg-4 col-md-4">
                                                <label class="control-label">@Token.FullName  </label>
                                                <input type="text" class="form-control" name="firstName" ng-model="User.FullName" ng-maxlength="150" max="150" />
                                                <label class="lableErorr" ng-show="frmUserProfile.fullName.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                                <label class="lableErorr" ng-show="frmUserProfile.fullName.$error.maxlength&&IsSubmit">@Token.MaxLength 150</label>
                                            </div>
                                            <!--Email-->
                                            <div class="form-group col-lg-4 col-md-4">
                                                <label class="control-label">@Token.Email  <label class="lableErorr">*</label></label>
                                                <input type="email" class="form-control" name="email" ng-model="User.Email" ng-required="true" />
                                                <label class="lableErorr" ng-show="frmUserProfile.email.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                                <label class="lableErorr" ng-show="frmUserProfile.email.$error.email&&IsSubmit">@Token.InvalidEmail</label>
                                            </div>
                                            <!--Phone-->
                                            <div class="form-group col-lg-4 col-md-4">
                                                <label class="">@Token.Phone: <label class="lableErorr">*</label> </label>
                                                <input type="text" class="form-control" name="phone" ng-model="User.PhoneNumber" ng-required="true" />
                                                <label class="lableErorr" ng-show="frmUserProfile.phone.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                             <!--Country-->
                                            <div class="form-group col-lg-4 col-md-4">
                                                <label class="control-label">@Token.Country : <label class="lableErorr">*</label></label>
                                                <select class="form-control cursor-pointer" name="country" ng-model="User.FKCountry_Id" ng-options="x.Id as x.CountryName for x in Countries " ng-required="true"></select>
                                                <label class="lableErorr" ng-show="frmUserProfile.country.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                            </div>
                                            <!--Address-->
                                            <div class="form-group col-lg-4 col-md-4">
                                                <label class="">@Token.Address  :   </label>
                                                <textarea class="form-control min-width-100-important" ng-model="User.Street" maxlength="500"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Change Avatar-->
                                    <div class="tab-pane row" id="ChangeAvatar">
                                        <label>@Token.ImageProfile</label>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail">
                                                <img src="{{imageeReview.replace('~','')}}" alt="">
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                            <div>
                                                <ng-uplaod-image up-model-file="myImage" up-model-image="imageeReview" up-name="anyName" up-accept=".jpg,.png,jpeg"></ng-uplaod-image>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Setting-->
                                    <div class="tab-pane row" id="Setting">
                                        <!--password & username -->
                                        <div class="row">
                                            <!--UserName-->
                                            <div class="form-group col-lg-4 col-md-4">
                                                <label class="control-label">@Token.UserName <label class="lableErorr" ng-show="!IsUpdate">*</label></label>
                                                <input type="text" class="form-control" name="userName" ng-model="User.UserName" ng-disabled="IsUpdate" ng-required="!IsUpdate" />
                                                <label class="lableErorr" ng-show="frmUserProfile.userName.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                            </div>
                                            <!--New Password-->
                                            <div class="form-group col-lg-4 col-md-4">
                                                <label class="control-label">@Token.NewPassword <label class="lableErorr" ng-show="!IsUpdate">*</label></label>
                                                <input type="password" class="form-control" name="newPassword" pattern="[A-z,0-9]{6,}" ng-model="User.NewPassword" ng-required="!IsUpdate" />
                                                <label class="lableErorr" ng-show="frmUserProfile.newPassword.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                                <label class="lableErorr" ng-show="frmUserProfile.newPassword.$invalid&&IsSubmit">@Token.InvalidData</label>
                                            </div>
                                            <!--Confirm Password-->
                                            <div class="form-group col-lg-4 col-md-4">
                                                <label class="control-label">@Token.ConfirmPassword <label class="lableErorr" ng-show="(User.NewPassword!=null&&User.NewPassword!='')||!IsUpdate">*</label></label>
                                                <input type="password" class="form-control" name="confirmPassword" pattern="[A-z,0-9]{6,}" ng-model="User.ConfirmPassword" ng-required="(User.NewPassword!=null&&User.NewPassword!='')||!IsUpdate" />
                                                <label class="lableErorr" ng-show="frmUserProfile.confirmPassword.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                                <label class="lableErorr" ng-show="frmUserProfile.confirmPassword.$invalid&&IsSubmit">@Token.InvalidData</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!--Language-->
                                            <div class="form-group col-lg-4 col-md-4" ng-required="!IsUpdate">
                                                <label class="">@Token.Language: <label class="lableErorr">*</label> </label>
                                                <select class="form-control cursorPointer" name="language" ng-model="User.FKLanguage_Id"
                                                        ng-options="langu.Id as langu.Name for langu in Languages" ng-required="!IsUpdate"></select>
                                                <label class="lableErorr" ng-show="frmUserProfile.language.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                            </div>

                                            <!--Roles-->
                                            <div class="form-group col-lg-4 col-md-4" ng-if="!IsUpdate">
                                                <label class="">@Token.Role: <label class="lableErorr">*</label> </label>
                                                <select class="form-control cursorPointer" name="role" ng-model="User.FkRole_Id" ng-options="ro.Id as ro.Name for ro in Roles" ng-required="!IsUpdate"></select>
                                                <label class="lableErorr" ng-show="frmUserProfile.role.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                            </div>
                                          
                                            <!--IsBlock-->
                                            <div class="form-group col-lg-4 col-md-4" ng-if="IsUpdate">
                                                <label class="">@Token.IsBlock:  </label>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox" class="form-control input-redonly" ng-model="User.IsBlocked" />
                                                    <span></span>
                                                </label>
                                            </div>

                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a class="btn btn-default green-stripe "
                               ng-if="!IsUpdate"
                                ng-class="{'green':frmUserProfile.$valid}" ng-click="frmUserProfile.$valid?saveChange(User):IsSubmit=true">
                                <i class="fas fa-save"></i>
                                @Token.Create
                            </a>
                            <a class="btn btn-default green-stripe " 
                               ng-if="IsUpdate"
                               ng-class="{'green':frmUserProfile.$valid}" ng-click="frmUserProfile.$valid?saveChange(User):IsSubmit=true">
                                <i class="fas fa-save"></i>
                                @Token.Update
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




@section scripts{
    <script>
        $(document).ready(function () {
            $('.menu-toggler').click();
        });
    </script>
    <script src="~/Scripts/Angular/Views/Users/Service.js"></script>
    <script src="~/Scripts/Angular/Views/Users/ControllerCreateAndUpdate.js"></script>
}

@section styles{
    <link href="~/Content/metronicCss/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" />
    <link href="~/Content/metronicCss/pages/profile.min.css" rel="stylesheet" />
}

@section bar{
    <div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="Home">@Token.Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="~/Users">@Token.Users</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span> @ViewBag.Title</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
            <i class="icon-calendar"></i>&nbsp;
            <span class="thin uppercase hidden-xs"></span>&nbsp;
            <i class="fa fa-angle-down"></i>
        </div>
    </div>
</div>
    }