z        <!--Account Setting-->
<div class="profile-content" ng-show="page==2||page==undefined" ng-init="InvalidDate='@Token.InvalidDate'">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">@Token.ProfileAccount</span>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active" ng-class="{'activeError':(
                            frmUserProfile.fristName.$invalid||
                            frmUserProfile.middleName.$invalid||
                            frmUserProfile.lastName.$invalid||
                            frmUserProfile.email.$invalid||
                            frmUserProfile.Phone.$invalid||
                            frmUserProfile.Phone2.$invalid||
                            frmUserProfile.nationalId.$invalid||
                            frmUserProfile.day1.$invalid||
                            frmUserProfile.month1.$invalid||
                            frmUserProfile.year1.$invalid||
                            frmUserProfile.jop.$invalid||
                            frmUserProfile.socialStatus.$invalid||
                            frmUserProfile.gender.$invalid
                            )&&IsSubmit}">
                            <a href="#PersonalInfo" data-toggle="tab">@Token.PersonalInfo</a>
                        </li>
                        <li ng-class="{'activeError':(
                            frmUserProfile.province.$invalid||
                            frmUserProfile.country.$invalid||
                            frmUserProfile.postlCode.$invalid||
                            frmUserProfile.street.$invalid
                            )&&IsSubmit}">
                            <a href="#Address" data-toggle="tab">@Token.Address</a>
                        </li>
                        <li >
                            <a href="#ChangeAvatar" data-toggle="tab">@Token.ChangeAvatar</a>
                        </li>
                        <li  ng-class="{'activeError':(
                            frmUserProfile.currentPassword.$invalid||
                            frmUserProfile.newPassword.$invalid||
                            frmUserProfile.languageCode.$invalid||
                            
                            frmUserProfile.confirmPassword.$invalid
                            )&&IsSubmit}">
                            <a href="#Setting" data-toggle="tab" >@Token.Setting</a>
                        </li>
                    </ul>
                </div>
                <form novalidate name="frmUserProfile">
                    <div class="portlet-body">
                        <div class="tab-content">
                            <!--Personal Info-->
                            <div class="tab-pane active row" id="PersonalInfo">
                                <div class="row">
                                    <!--FirstName-->
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label class="control-label">@Token.FirstName <label class="lableErorr">*</label></label>
                                        <input type="text" class="form-control" name="fristName" ng-model="UserViewModel.FirstName " ng-maxlength="20" ng-required="true" />
                                        <label class="lableErorr" ng-show="frmUserProfile.fristName.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                        <label class="lableErorr" ng-show="frmUserProfile.fristName.$error.maxlength&&IsSubmit">@Token.MaxLength 20</label>
                                    </div>
                                    <!--MediumName-->
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label class="control-label">@Token.MediumName </label>
                                        <input type="text" class="form-control" name="middleName " ng-model="UserViewModel.MediumName " ng-maxlength="20" />
                                        <label class="lableErorr" ng-show="frmUserProfile.middleName.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                        <label class="lableErorr" ng-show="frmUserProfile.middleName.$error.maxlength&&IsSubmit">@Token.MaxLength 20</label>
                                    </div>
                                    <!--LastName-->
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label class="control-label">@Token.LastName <label class="lableErorr">*</label></label>
                                        <input type="text" class="form-control" name="lastName" ng-model="UserViewModel.LastName " ng-maxlength="20" ng-required="true" />
                                        <label class="lableErorr" ng-show="frmUserProfile.lastName.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                        <label class="lableErorr" ng-show="frmUserProfile.lastName.$error.maxlength&&IsSubmit">@Token.MaxLength 20</label>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <!--Email-->
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label class="control-label">@Token.Email <label class="lableErorr">*</label></label>
                                        <input type="email" class="form-control" name="email" ng-model="UserViewModel.Email " ng-required="true" />
                                        <label class="lableErorr" ng-show="frmUserProfile.email.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                        <label class="lableErorr" ng-show="frmUserProfile.email.$error.email&&IsSubmit">@Token.InvalidEmail</label>
                                    </div>
                                   
                                    <!--Phone-->
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label class="control-label">@Token.Phone  </label>
                                        <input type="text" class="form-control" name="Phone" ng-model="UserViewModel.Phone" ng-maxlength="15" />
                                        <label class="lableErorr" ng-show="frmUserProfile.Phone.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                        <label class="lableErorr" ng-show="frmUserProfile.Phone.$error.maxlength&&IsSubmit">@Token.MaxLength 15</label>
                                    </div>
                                    <!--Phone2-->
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label class="control-label">@Token.Phone 2  </label>
                                        <input type="text" class="form-control" name="Phone2" ng-model="UserViewModel.Phone2" ng-maxlength="15" />
                                        <label class="lableErorr" ng-show="frmUserProfile.Phone2.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                        <label class="lableErorr" ng-show="frmUserProfile.Phone2.$error.maxlength&&IsSubmit">@Token.MaxLength 15</label>
                                    </div>

                                </div>
                                <div class="row">
                                    <!--NationalId-->
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label class="control-label">@Token.NationalId <label class="lableErorr">*</label></label>
                                        <input type="text" class="form-control" name="nationalId" ng-model="UserViewModel.NationalId" ng-maxlength="14" ng-required="true" />
                                        <label class="lableErorr" ng-show="frmUserProfile.nationalId.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                        <label class="lableErorr" ng-show="frmUserProfile.nationalId.$error.maxlength&&IsSubmit">@Token.MaxLength 14</label>
                                    </div>
                                    <!--BirthDate-->
                                    <div class="form-group col-lg-8 col-md-8">
                                        <ng-date date-label="@Token.BirthDate"
                                                 date-required="false"
                                                 date-run-required-model="IsSubmit"
                                                 erorr-label-invalid-date="@Token.InvalidData"
                                                 erorr-label-required-date="@Token.FiledIsRequired"
                                                 erorr-label-max-length="@Token.MaxLengthNumber"
                                                 date-day-select="true"
                                                 date-month-select="false"
                                                 date-month-options="x.code as x.Name for x in Month"
                                                 date-year-select="true"
                                                 date-current-year="@Session["CurrentYear"]"
                                                         date-from="@Session["BeforeCurrentYear"]"
                                                         date-to="@Session["AfterCurrentYear"]"
                                                 date-form="frmUserProfile"
                                                 date-form-day-name="day1"
                                                 date-form-month-name="month1"
                                                 date-form-year-name="year1"
                                                 date-model-day="UserViewModel.dd"
                                                 date-model-month="UserViewModel.mm"
                                                 date-model-year="UserViewModel.yyyy">

                                        </ng-date>
                                    </div>
                                   
                                </div>
                                <div class="row">
                                    <!--Jop-->
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label class="">@Token.Job </label>
                                        <select class="form-control cursor-pointer" name="jop" ng-model="UserViewModel.FKJob_Id" ng-options="x.Id as x.JobName for x in AllJobs"></select>
                                        <label class="lableErorr" ng-show="frmUserProfile.jop.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                    </div>
                                    <!--SocialStatus-->
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label class="control-label">@Token.SocialStatus  </label>
                                        <select class="form-control cursor-pointer" name="socialStatus" ng-model="UserViewModel.FKSocialStatus_Id">
                                            <option value="@Convert.ToInt32(Enums.SocialStatusEnum.Married)" label="@Token.Married"></option>
                                            <option value="@Convert.ToInt32(Enums.SocialStatusEnum.Single)" label="@Token.Single"></option>
                                            <option value="@Convert.ToInt32(Enums.SocialStatusEnum.Widow)" label="@Token.Widow"></option>
                                        </select>
                                    </div>
                                    <!--Gender-->
                                    <div class="form-group col-lg-4 col-md-4">
                                        <label class="control-label">@Token.Gender  <label class="lableErorr">*</label></label>
                                        <select class="form-control cursor-pointer" name="gender" ng-model="UserViewModel.FKGender_Id" ng-required="true">
                                            <option value="@Convert.ToInt32( Enums.GenderEnum.Male)" label="@Token.Male"></option>
                                            <option value="@Convert.ToInt32(Enums.GenderEnum.Female)" label="@Token.Female "></option>
                                        </select>
                                        <label class="lableErorr" ng-show="frmUserProfile.gender.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                    </div>
                                </div>
                            </div>
                            <!--Address-->
                            <div class="tab-pane row" id="Address">
                                <div class="col-lg-6 col-md-6">
                                    <!--Street-->
                                    <div class="form-group">
                                        <label class="control-label">@Token.Street <label class="lableErorr">*</label></label>
                                        <textarea class="form-control" rows="9" name="street" ng-model="UserViewModel.Street" ng-maxlength="500" ng-required="true"></textarea>
                                        <label class="lableErorr" ng-show="frmUserProfile.street.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                        <label class="lableErorr" ng-show="frmUserProfile.street.$error.maxlength&&IsSubmit">@Token.MaxLength 500</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <!--PostalCode-->
                                    <div class="form-group">
                                        <label class="control-label">@Token.PostalCode</label>
                                        <input type="number" class="form-control" name="postlCode" ng-model="UserViewModel.PostalCode" />
                                        <label class="lableErorr" ng-show="frmUserProfile.postlCode.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                    </div>
                                    <!--Gender-->
                                    <div class="form-group">
                                        <label class="control-label">@Token.Country  <label class="lableErorr">*</label></label>
                                        <select class="form-control cursor-pointer" name="country" ng-model="UserViewModel.FKCountry_Id" ng-options="x.Id as x.CountryName for x in AllCountry" ng-required="true" ng-change="GetProvinces(UserViewModel.FKCountry_Id)"></select>
                                        <label class="lableErorr" ng-show="frmUserProfile.country.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                    </div>
                                    <!--Province-->
                                    <div class="form-group">
                                        <label class="control-label">@Token.Province <label class="lableErorr">*</label></label>
                                        <select class="form-control cursor-pointer" name="province" ng-model="UserViewModel.FkProvince_Id" ng-options="x.Id as x.ProvinceName for x in AllProvince" ng-required="true"></select>
                                        <label class="lableErorr" ng-show="frmUserProfile.province.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                    </div>
                                </div>

                            </div>
                            <!--Change Avatar-->
                            <div class="tab-pane row" id="ChangeAvatar">
                                <label>@Token.ImageProfile</label>

                                <div class="profile-userpic">
                                    <img class="img-responsive" alt="" src="{{imageeReview.replace('~','')}}">
                                </div>
                                <ng-uplaod-image up-model-file="myImage" up-model-image="imageeReview" up-name="anyName" up-accept=".jpg,.png,jpeg"></ng-uplaod-image>
                            </div>
                            <!--Change Password-->
                            <div class="tab-pane row" id="Setting">
                                <!--Current Password-->
                                @*<div class="form-group col-lg-6 col-md-6">
                                    <label class="control-label">@Token.CurrentPassword  </label>
                                    <input type="password" class="form-control" name="currentPassword" pattern="[A-z,0-9]{6,}" ng-model="UserViewModel.CurrentPassword" />
                                </div>*@
                                <!--New Password-->
                                <div class="form-group col-lg-6 col-md-6">
                                    <label class="control-label">@Token.NewPassword</label>
                                    <input type="password" class="form-control" name="newPassword" pattern="[A-z,0-9]{6,}" ng-model="UserViewModel.NewPassword" ng-disabled="!frmUserProfile.currentPassword.$valid" />
                                </div>
                                <!--Confirm Password-->
                                <div class="form-group  col-lg-6 col-md-6">
                                    <label class="control-label">@Token.ConfirmPassword <label class="lableErorr" ng-show="UserViewModel.NewPassword!=null">*</label></label>
                                    <input type="password" class="form-control" name="confirmPassword" pattern="[A-z,0-9]{6,}" ng-model="UserViewModel.ConfirmPassword" ng-disabled="UserViewModel.NewPassword==null" ng-required="UserViewModel.NewPassword!=null" />
                                    <label class="lableErorr" ng-show="frmUserProfile.confirmPassword.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                </div>
                                <!--Language-->
                                <div class="form-group col-lg-6 col-md-6">
                                    <label>@Token.ChooesLanguage <label class="lableErorr">*</label></label>
                                    <select class="form-control cursor-pointer" name="languageCode" ng-model="UserViewModel.LanguageCode" ng-required="true">
                                        <option value="en" label="@Token.English"></option>
                                        <option value="ar" label="@Token.Arabic"></option>
                                    </select>
                                    <label class="lableErorr" ng-show="frmUserProfile.languageCode.$error.required&&IsSubmit">@Token.FiledIsRequired</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <a class="btn btn-default green-stripe " ng-class="{'green':frmUserProfile.$valid}" ng-click="frmUserProfile.$valid?SaveChange(UserViewModel):IsSubmit=true">
                            <i class="fa fa-save"></i>
                            @Token.SaveChange
                        </a>
                        <a class="btn dark green-stripe  ">
                            <i class="fa fa-undo"></i>
                            @Token.Undo
                        </a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
